.idea
build/*
filehost-war/build/*
filehost-ejb/build/*
dist/*
filehost-ejb/dist/*
filehost-war/dist/*
filehost-ejb/nbproject/
filehost-war/nbproject/
nbproject/
nbproject/private/
filehost-ejb/nbproject/private/
filehost-war/nbproject/private/
filehost-ejb/nbproject/*
filehost-war/nbproject/*
nbproject/*
filehost-ejb/nbproject/private/*
filehost-war/nbproject/private/*
nbproject/private/*
build.xml