<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Router</servlet-name>
        <servlet-class>su.olegus.servlet.Router</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>su.olegus.utils.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Captcha</servlet-name>
        <servlet-class>su.olegus.utils.Captcha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get</servlet-name>
        <servlet-class>su.olegus.utils.Get</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lasts</servlet-name>
        <servlet-class>su.olegus.servlet.Lasts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetIp</servlet-name>
        <servlet-class>su.olegus.servlet.SetIp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Convert</servlet-name>
        <servlet-class>su.olegus.servlet.Convert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetIp</servlet-name>
        <url-pattern>/SetIp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Router</servlet-name>
        <url-pattern>/Router</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get</servlet-name>
        <url-pattern>/Get/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Captcha</servlet-name>
        <url-pattern>/Captcha/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jspf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lasts</servlet-name>
        <url-pattern>/Lasts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Convert</servlet-name>
        <url-pattern>/Convert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
